.close-modal-button {
  position: absolute;
  right: 10px;
  top: 10px;
  background: none;
  border: none;
  cursor: pointer;  
}
.ReactModal__Overlay {
  width: 490px;
  height: 80vh;
  border-radius: 18px;
  border-width: 10px;
  background-color: rgba(255, 255, 255, 0) !important;
  
}
.NumberOfMutualFriends {
  color: rgba(74, 122, 99, 1);
  font-family: Roboto;
  font-size: 24px;
}

.Container {
  .AllFriendsText {
    font-family: Roboto;
    font-size: 26px;
    margin: 70px 25px 25px;
  }
  #box::-webkit-scrollbar {
    width: 11px;
    background-color: #F5F5F5;
  }
   
  #box::-webkit-scrollbar-thumb {
    border-radius: 18px;
    background-color:rgba(0, 0, 0, 0.4);
  }  
  
  #box {
    width: 80vw;
    background-color: rgb(230, 230, 230);
    border-radius: 18px;
    margin-right: 140px;
    overflow-y: auto;
    height: 80vh;

    .Avatar {
      margin-left: 25px;
    }
  }

  .MutualFriendsButton {
    font-family: Roboto;
    font-size: 20px;
    color: white;
    border-radius: 18px;
    width: 180px;
    height: 40px;
    background-color: rgba(146, 145, 145, 1);
    text-decoration: none;
    text-transform: lowercase;
    margin-right: 30px;
  }
}
