.top-line {
  background-color: white;
  width: 100%;
  color: white;
}

.header-main-class {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(235, 233, 233);
  box-shadow: none;

  .header-logo {
    background-color: white;
    width: 10.7%;
    // margin-bottom: 10rem;

    .header-logo-image {
      max-width: 60px;
      margin-left: 2.8rem;
    }
  }
  .search-bar {
    position: absolute;
    width: 74.25rem;
    text-align: right;
    cursor: pointer;
    left: 84.31rem;
    top: 3.94rem;

    .search-button {
      margin-top: 1rem;
    }
  }
  .user-profile {
    width: 10%;
    background-color: white;
        .search-button{
            margin-top: 1rem;
            margin-right: 2rem;
        }
       
    }
    .hamburger-menu {
        cursor: pointer;
        width: 10%;
        
        .hamburger-menu-logo{
            max-width: 2rem;
            margin-top: 1.5rem;
        }
    }
    .user-profile{
        width: 10%;
        background-color: white;

    .user-account-icon {
      position: absolute;
      top: 23%;
      right: 2.5%;
      font-size: 5rem;
    }
  }
}

@media only screen and (min-width: 0) and (max-width: 900px) {
    .header-main-class {
        background-color: white;
        .header-logo {
            background-color: white;
            .header-logo-image {
                max-width: 60px;
                margin-left: 1rem;
                
            }
        }
        .search-bar {
            margin-left: 4rem;
            .search-button {
                margin-top: 1px;
                font-size: 2.5rem;
            }
        }
        .user-profile {
            display: none;
        }
    }
}

@media only screen and (min-width: 1836px) and (max-width: 2136px) {
    .header-main-class {
        .header-logo {
            .header-logo-image {
                max-width: 80px;
                margin-left: 3rem;
            }
        }
        .search-bar {
            .search-button {
                margin-top: .6rem;
                font-size: 2rem;
            }
        }

        .user-profile {
            
            .user-account-icon {
                position: absolute;
                right: 3.5rem;
                font-size: 5rem;
            }
        }
    }
    .search-bar {
      .search-button {
        margin-top: 0.6rem;
        font-size: 2rem;
      }
    }

    .user-profile {
      .user-account-icon {
        position: absolute;
        right: 4.5rem;
        font-size: 5rem;
      }
    }
  }

