@import "./definitions.scss";
.wrapper {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  margin: -8px;

  @media (max-width: $max-tablet-width) {
    width: 100vw;
    height: 100vh;
    background-image: url("../../../src/images/loginRegisterTablet.png");
    background-size: 100% 100%;
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Image {
    width: 50vw;
    height: 100vh;
    border-radius: 0% 3% 3% 0%;

    @media (max-width: $max-tablet-width) {
      display: none;
    }
  }
  .Form {
    width: 90vw;
    height: 85vh;
    max-width: 44vw;
    margin-left: 2rem;
    margin: 2rem;
    @media (max-width: $max-tablet-width) {
      background-color: rgba(255, 255, 255, 0.5);
      max-width: 53rem;
      width: 100%;
    }
    @media (max-width: $max-mobile-width) {
      width: 45rem;
    }
    .textField,
    .css-1yw4e71-MuiFormControl-root-MuiTextField-root {
      width: 24rem;
      @media (max-width: $max-tablet-width) {
        width: 27rem;
      }
      @media (max-width: $max-mobile-width) {
        width: 16rem;
      }
    }
  }
}

#LoginPanel,
#SignPanel,
.moon {
  @media (max-width: $max-tablet-width) {
    display: none;
  }
}

.clickedBtn {
  width: 9vw;
  height: 6.5vh;
  margin-bottom: -3rem;
}
.inactiveTab {
  width: 6.5rem;
}

.clickedBtn.css-1l2ixb5-MuiButtonBase-root-MuiButton-root::after {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: 6.5vh;
  height: 50px;
  width: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 25px 0 0 white;
  margin-left: 6.8vw;
}

.clickedBtn.css-1l2ixb5-MuiButtonBase-root-MuiButton-root::before {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: -50px;
  height: 50px;
  width: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0 -25px 0 0 white;
  margin-left: 6.8vw;
}

.clickedBtn.css-1uy5mng-MuiButtonBase-root-MuiButton-root::after {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: 6.5vh;
  height: 50px;
  width: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 25px 0 0 white;
  margin-left: 6.8vw;
}

.clickedBtn.css-1uy5mng-MuiButtonBase-root-MuiButton-root::before {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: -50px;
  height: 50px;
  width: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0 -25px 0 0 white;
  margin-left: 6.8vw;
}

.HeaderLogo {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
