.wrapper {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: row;

  .Image {
    width: 45vw;
    height: 100vh;
    border-radius: 0% 10% 10% 0%;
    background-blend-mode: multiply;
  }

  .Form {
    width: 100vw;
    height: 90vh;
    margin-right: 140px;

    .Logo {
      margin-top: 30px;
      margin-bottom: 80px;
    }

    .PasswordField {
      margin-bottom: 20px;
    }

    .LoginButton {
      box-shadow: 2px 4px 4px rgba(74, 122, 99, 0.54);
      font-family: "Inder";
      font-size: 18px;
      letter-spacing: 0.008em;
      border-radius: 20px;
      background-color: "white";
      color: #4a7a63;
      width: 100px;
      height: 50px;
    }
  }
}
