.wrapper {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  margin: -8px;
  .Image {
    width: 50vw;
    height: 100vh;
    border-radius: 0% 3% 3% 0%;
  }
  .Form {
    width: 90vw;
    height: 85vh;
    
  }
}

.clickedBtn {
  width: 9vw;
  height: 6.5vh;
}

.clickedBtn.css-sdfeve-MuiButtonBase-root-MuiButton-root::after {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: 6.5vh;
  height: 50px;
  width: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 25px 0 0 white;
  margin-left: 8vw;
}

.clickedBtn.css-sdfeve-MuiButtonBase-root-MuiButton-root::before {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: -50px;
  height: 50px;
  width: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0 -25px 0 0 white;
  margin-left: 8vw;
}

.clickedBtn.css-kvoopg-MuiButtonBase-root-MuiButton-root::after {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: 6.5vh;
  height: 50px;
  width: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 25px 0 0 white;
  margin-left: 8vw;
}

.clickedBtn.css-kvoopg-MuiButtonBase-root-MuiButton-root::before {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: -50px;
  height: 50px;
  width: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0 -25px 0 0 white;
  margin-left: 8vw;
}

.headerLogoLogin {
  margin-top: -13.7vh;
  margin-bottom: 22vh;
}