.page-box {
  position: absolute;
  background-color: rgb(235, 233, 233);
  width: 80vw;
  height: 90vh;
  margin-left: 10.5vw;
  margin-top: 2.5vh;
  padding-top: 5vh;
  border-radius: 1.13rem;
  box-shadow: 15px 0px 10px 0px rgba(0, 0, 0, 0.25);
  overflow-y: auto;
  display: grid;
}

.mobile-header-view {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .society-logo {
    max-width: 60px;
    margin-left: 1rem;
    margin-top: 1rem;
  }

  .search-bar-hamburger-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: .5rem;
    width: 25%;

    .css-i4bv87-MuiSvgIcon-root {
      font-size: 2.3rem;
      color: gray;
      cursor: pointer;
    }
    img {
      max-width: 40px;
    }

  }
}
