.navigation-root-element {
    width: 10.7%;
    height: 100vh;
    background: linear-gradient(rgb(255, 255, 255), white);
    font-size: 20px;
    float: left;
    position: sticky;

    .css-i4bv87-MuiSvgIcon-root {
        font-size: 2.2rem;

    }

    .icon-buttons {
        height: 70.4%;
        display: flex;
        flex-direction: column;

        justify-content: space-between;
    }

    .css-1s4ffru-MuiListItem-root {
        display: block;
        width: 76%;
        height: 50px;
        float: right;
        border-radius: 10px 0 0 10px;
        line-height: 0;


    }

    .list-item-element {
        width: 76%;
        margin-left: auto;
        margin-top: 2rem;
        cursor: pointer;

        .log-out-icon{
            margin-left: .2rem;
        }
    }

    .css-1s4ffru-MuiListItem-root:link {
        background-color: rgb(235, 233, 233);

    }

    .css-1s4ffru-MuiListItem-root::after {
        content: '';
        position: absolute;
        top: -50px;
        right: 0;
        width: 20px;
        height: 50px;
        z-index: -1;
        border-radius: 0 0 25px 0;
        box-shadow: 0 25px 0 0 rgb(235, 233, 233);
    }

    // This code is not going to work if I put it like this
    // .css-1s4ffru-MuiListItem-root::after, .css-1s4ffru-MuiListItem-root::before
    .css-1s4ffru-MuiListItem-root::before {
        content: '';
        position: absolute;
        top: 50px;
        right: 0;
        width: 20px;
        height: 50px;
        z-index: -1;

        border-radius: 0 25px 0 0;
        box-shadow: 0 -25px 0 0 rgb(235, 233, 233);

    }
}