body {
  width: 100%;
  height: 100%;

  .create-post-class, .create-post-mobile-class {
    height: 11vh;
    background-color: #4A7A6333;
    padding: 1.4rem;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 90%;


    .error-message {
      margin-top: -1rem;
      padding-bottom: .5rem;
      font-size: 17px;
      color: red;
    }

    .create-post-grid, .create-post-grid-on-error {
      width: 100%;
      text-align: center;
      display: grid;
      margin-top: .5rem;

      .create-post-input-field {
        width: 95%;
        outline: none;
        border: none;
        font-size: 17px;
        padding: 1rem;
        border-radius: 10px;
        margin-bottom: .5rem;
        box-shadow: 4px 6px 0px rgba(0, 0, 0, 0.15);
      }

      .create-post-button-class {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
        margin-top: .3rem;

        .icon-post-class,
        .icon-post-desktop {
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          width: 95%;
          

          .icons {
            display: flex;

            .attach-image-icon,
            .upload-photo-icon,
            .post-location-icon {
              font-size: 1.6rem;
              color: #156829;
              margin-left: 1.3rem;
            }
            

            .upload-photo-icon {
              color: #CC901C;
            }

            .post-location-icon {
              color: #7C0D6B;
            }
          }

          .create-post-button {
            border-radius: 18px;
            width: 10%;
            height: 100%;
            border: none;
            cursor: pointer;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
            margin-left: 2rem;
          }

          .create-post-button-mobile {
            border-radius: 18px;
            border: none;
            cursor: pointer;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
            height: 100%;
            width: 25%;
            margin-left: 2rem;
          }

        }

        .icon-post-desktop {
          width: 95%;
        }
      }
   }

    .create-post-grid-on-error {
      margin-top: -.5rem;
    }
  }


  .create-post-mobile-class {
    width: 80%;
  }
}

.news-feed-paragraph {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin-left: .1vw;
  margin-top: 7vh;
}

.post-grid, .post-mobile-grid {
  display: flex;
  width: 103%;
  margin-left: -1rem;
  
  .post-paper {
    width: 100%;
    text-align: center;
    border-radius: 1rem;
    margin-bottom: 1rem;

    .divider {
      margin-top: 1rem;
    }

    .reaction-pop-up-window, .reaction-mobile-pop-up {
      display: flex;
      justify-content: space-around;
      width: 20%;
      position: relative;
      left: 3rem;
      top: 2%;
   
      border: 1px solid black;
      background-color: white;
      border-radius: 1rem;
      box-shadow: 0px 0px 10px #4A7A63;

      .like-icon,
      .love-icon,
      .funny-icon,
      .sad-icon {
        cursor: pointer;
        font-size: 1.5rem;
        padding: .5rem;

      }
    }
    .reaction-mobile-pop-up {
      width: 50%;
      margin-left: -2rem;
    }

    .reactions {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;

      .like-button {
        background: none;
        border: none;
        width: 10%;
      }

      .like-divider {
        background-color: rgba(0, 0, 0, 0.12);
        height: 3vh;
        width: .5px;
        position: relative;
      }

      .comment-divider {
        width: .1px;
        height: 3vh;
        background-color: rgba(0, 0, 0, 0.12);
      }
    }

    .user-profile-image {
      display: flex;
      align-items: center;

      .user-post-icon {
          background-color: darkgreen;
          color: white;
          margin: 20px;
        }
      
        .username {
          font-weight: bold;
          color: #323232;
          font-size: 1.3rem;
        }
    
    }

  }
}

.post-mobile-grid {
 
  width: 110%;
}

.post-picture {
  margin-left: auto;
  margin-right: auto;
  max-width: 520px;
}

.comments-box-post-comment {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}