$mobile-width: 93%;
$mobile-height: 15vh;
$mobile-display: flex;
$mobile-justify-content: space-between;
$mobile-position: relative;
$mobile-width-for-large-screens: 94.5%;

.stories-main-box {
    width: 10%;
    height: auto;
    position: absolute;
    right: 0;
    top: -3.2rem;
    background: white;

    .stories-paragraph {
        margin-left: 1.5rem;
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 1px;
        display: none;
    }

    .stories-data-box {
        background-color: lightgray;
        width: 60%;
        height: 79.8vh;
        margin-top: 2rem;
        margin-left: 1.8rem;
        border-radius: 2rem;

        .add-story-box {
            border-radius: 50%;
            text-align: center;
            padding: 1rem;

            .add-story-button {
                border: 4px solid rgba(74, 122, 99, 0.66);
                background-color: white;
                text-transform: lowercase;
                border-radius: 50%;
                color: black;
                height: 9vh;
                width: 9vh;
                margin-left: -.2rem;
            }

            .straight-line {
                background-color: black;
                height: .1vh;
                width: 100%;
                position: relative;
                top: 20px;
            }
        }

        .other-people-stories {
            margin-top: .5rem;
            border-radius: 1rem;
            .stories-of-followed-people {
                text-align: center;
                
                .person-story {

                    box-shadow: 0 5px 10px 0 #aaaaaa;
                    background-color: white;
                    color: white;
                    padding: 1rem;
                    height: 9vh;
                    width: 50%;
                    margin-top: 1rem;
                    border-radius: 50%;
                }
            }
        }

        .more-options {
            margin-top: 2rem;
            margin-bottom: auto;
            text-align: center;

            .css-i4bv87-MuiSvgIcon-root {
                font-size: 2.3rem;
                cursor: pointer;
            }
        }
    }

}

@media only screen and (min-width: 0px) and (max-width: 399px) {
    .stories-main-box {
        width: $mobile-width;
        height: $mobile-height;
        position: $mobile-position;
        padding-bottom: 1rem;
        margin-left: -1rem;
        margin-top: 4rem;
        background: none;

        .stories-paragraph {
            display: block;
        }

        .stories-data-box {
            display: $mobile-display;
            justify-content: $mobile-justify-content;
            border-radius: 1rem;
            width: 100%;
            height: 12vh;

            .add-story-box {
                display: flex;
                padding: .5rem;
                .add-story-button {
                    width: 10%;
                    height: 10vh;

                }

                .straight-line {
                    width: 1.5%;
                    height: 10.5vh;
                    margin-top: -1.3rem;
                    margin-left: 1rem;
                }
            }

            .other-people-stories {
                display: $mobile-display;
                justify-content: $mobile-justify-content;

                .stories-of-followed-people {
                    position: relative;
                    left: -1rem;
                    top: -1rem;

                    .person-story {
                        height: 9vh;
                        margin-left: 2rem;
                    }
                }
            }
            .more-options {
                .css-i4bv87-MuiSvgIcon-root {
                    margin-top: -1rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 400px) and (max-width: 599px) {
    .stories-main-box {
        width: $mobile-width;
        height: $mobile-height;
        position: $mobile-position;
        
        padding-bottom: 1rem;
        margin-left: 1rem;
        margin-top: 4rem;
        background: none;

        .stories-paragraph {
            display: block;
        }

        .stories-data-box {
            display: $mobile-display;
            justify-content: $mobile-justify-content;
            padding: .5rem;
            height: 4rem;
            border-radius: 1rem;
            width: 95%;
            margin-left: .5rem;

            .add-story-box {
                display: $mobile-display;
                

                .add-story-button {
                    width: 70%;
                    height: 10vh;
                    margin-left: -1rem;
                    margin-top: -1rem;
                }

                .straight-line {
                    position: relative;
                    left: .7rem;
                    width: 2%;
                    height: 10vh;
                    margin-top: -2.3rem;
                    
                }
            }

            .other-people-stories {
                display: $mobile-display;
                justify-content: $mobile-justify-content;

                .stories-of-followed-people {
                    position: relative;
                    left: -1.5rem;
                    top: -1.6rem;

                    .person-story {
                        position: relative;
                        left: 10px;
                        width: 1px;
                        
                        margin-left: 1.5rem;
                        
                    }
                }
            }
            .more-options {
                .css-i4bv87-MuiSvgIcon-root {
                    margin-top: -1.3rem;
                }
            }
        }

    }
}

@media only screen and (min-width: 600px) and (max-width: 699px) {
    .stories-main-box {
        width: $mobile-width;
        height: $mobile-height;
        position: $mobile-position;
        padding-bottom: 1rem;
        margin-left: 1rem;
        margin-top: 4rem;
        background: none;
        
        
        .stories-paragraph {
            display: block;
        }

        .stories-data-box {
            display: $mobile-display;
            justify-content: $mobile-justify-content;
            padding: .5rem;
            border-radius: 1rem;
            height: 11vh;
            width: 98%;
            margin-left: .5rem;

            .add-story-box {
                display: $mobile-display;

                .add-story-button {
                    width: 75%;
                    height: 11vh;
                    margin-top: -1rem;
                    margin-left: -.7rem;
                }

                .straight-line {
                    position: relative;
                    left: 12px;
                    width: 1.5%;
                    height: 11vh;
                    margin-top: -2.2rem;
                }
            }

        }

        .other-people-stories {
            display: $mobile-display;
            justify-content: $mobile-justify-content;

            .stories-of-followed-people {
                position: relative;
                left: -1rem;
                top: -1.2rem;
                .person-story {
                    margin-left: 1rem;
                    width: 10vh;
                    height: 7vh;
                }
            }
        }
        .more-options {
            .css-i4bv87-MuiSvgIcon-root {
                margin-top: -1rem;
            }
        }
    }
}

@media only screen and (min-width: 700px) and (max-width: 799px) {
    .stories-main-box {
        width: $mobile-width-for-large-screens;
        height: $mobile-height;
        position: $mobile-position;
        padding-bottom: 1rem;
        margin-left: 1rem;
        margin-top: 4rem;
        background: none;

        .stories-paragraph {
            display: block;

        }

        .stories-data-box {
            display: $mobile-display;
            justify-content: $mobile-justify-content;
            padding: .5rem;
            height: 11vh;
            border-radius: 1rem;
            width: 98%;
            margin-left: .5rem;

            .add-story-box {
                display: $mobile-display;

                .add-story-button {
                    width: 65%;
                    height: 10.5vh;
                    margin-left: -.5rem;
                    margin-top: -1rem;
                }

                .straight-line {
                    width: 1.5%;
                    height: 11vh;
                    margin-left: .9rem;
                    margin-top: -2.2rem;
                }
            }
        }

        .other-people-stories {
            display: $mobile-display;
            justify-content: $mobile-justify-content;

            .stories-of-followed-people {
                position: relative;
                left: -2rem;
                top: -1.2rem;

                .person-story {
                    margin-left: 2.2rem;
                    width: 10vh;
                    height: 9vh;
                }
            }
        }
        
        .more-options {
            .css-i4bv87-MuiSvgIcon-root {
                margin-top: -1rem;
            }
        }
    }
}

@media only screen and (min-width: 800px) and (max-width: 900px) {
    .stories-main-box {
        width: $mobile-width-for-large-screens;
        height: $mobile-height;
        position: $mobile-position;
        padding-bottom: 1rem;
        margin-left: 1rem;
        margin-top: 4rem;
        background: none;

        .stories-paragraph {
            display: block;
        }

        .stories-data-box {
            display: $mobile-display;
            justify-content: $mobile-justify-content;
            padding: .5rem;
            border-radius: 1rem;
            height: 11vh;
            width: 98%;
            margin-left: .5rem;

            .add-story-box {
                display: $mobile-display;

                .add-story-button {
                    width: 60%;
                    padding: .5rem;
                    
                    height: 4.5rem;
                    margin-top: -1rem;
                }

                .straight-line {
                    width: 1.5%;
                    height: 11vh;
                    margin-left: 1.5rem;
                    margin-top: -2.2rem;
                }
            }

            .other-people-stories {
                display: $mobile-display;
                justify-content: $mobile-justify-content;

                .stories-of-followed-people {
                    position: relative;
                    left: -2rem;


                    .person-story {
                        margin-top: -.1rem;
                        margin-left: 3rem;
                        width: 10vh;
                        height: 9vh;
                    }
                }
            }
            .more-options {
                margin-top: 1rem;
            }

        }
    }
}