.add-story-box {
  height: 10vh;
  width: 83vw;
  // margin-top: 7rem;
  background-color: rgba(217, 217, 217, 0.6);
  border-radius: 1.13rem;
  display: flex;
  margin-left: 3rem;

  .add-story-button {
    background-color: white;
    margin-top: 0.35rem;
    margin-left: 3rem;
    border-radius: 50%;
    border: 3.5px solid rgba(74, 122, 99, 0.66);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    color: black;
    text-transform: lowercase;
    width: 1.5vw;
    height: 8vh;
  }
  .break-line {
    background-color: #4a7a63;
    width: 2px;
    height: 3.5rem;
    margin-left: 2rem;
    margin-top: 0.6rem;
  }
  .stories-of-followed-people {
    margin-top: 0.5rem;

    .person-story {
      background-color: white;
      color: white;
      border-radius: 50%;
      width: 1.5vw;
      height: 8vh;
      margin-left: 2.5rem;
      cursor: pointer;
    }

}
.expand-icon {
    margin-left: 1.5rem;
    width: 3rem;
    margin-top: 0.5rem;
}
  .css-i4bv87-MuiSvgIcon-root {
    padding-top: 1rem;
  }
}

@media only screen and (min-width: 1600px) and (max-width: 1735px) {
  .stories-root-box {
    .story-data-box {
      .add-story-box {
        .add-story-button {
          width: 70%;
        }
      }
    }
  }
}

.stories-p {
  margin-top: 4rem;
  margin-left: 5rem;
  font-size: 24px;
  font-family: "Arial";
  color: rgba(0, 0, 0, 0.6);
}

@media only screen and (min-width: 1836px) and (max-width: 2136px) {
  .stories-root-box {
    .stories-paragraph {
      font-size: 2.2rem;
    }

    .story-data-box {
      height: 75vh;

      .add-story-box {
        .add-story-button {
          width: 70%;
          margin-top: 1rem;
          padding: 0.4rem;
          font-size: 1.2rem;
        }
        .stories-of-followed-people {
          .person-story {
            width: 60%;
            padding: 1.7rem;
          }
        }
        .css-i4bv87-MuiSvgIcon-root {
          margin-top: 3rem;
          font-size: 2.5rem;
        }
      }
    }
  }
}
@media only screen and (min-width: 2236px) and (max-width: 3000px) {
  .stories-root-box {
    .stories-paragraph {
      font-size: 2.5rem;
    }

    .story-data-box {
      height: 76vh;

      .add-story-box {
        .add-story-button {
          width: 60%;
          padding: 0.5rem;
          font-size: 1.3rem;
          margin-top: 1rem;
        }
        .stories-of-followed-people {
          .person-story {
            width: 55%;
            padding: 2rem;
          }
        }
        .break-line {
          margin-left: 1rem;
          margin-right: 1rem;
          height: 3px;
        }
        .css-i4bv87-MuiSvgIcon-root {
          font-size: 3rem;
          margin-top: 4rem;
        }
      }
    }
  }
}
