.person-chat{

    .person-chat-header{
        display: flex;
        .profile-picture-username-and-status{
            display: flex;
            justify-content: space-around;

            .profile-image-class{
                .profile-picture{

                }
            }
        }
    }
}



