@import "../../components/Styles/definitions.scss";

.profile-container {
  display: flex;
}

.profile-wrapper {
  background-color: #f5f5f5;
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.25);

  border-radius: 1.875rem;

  width: 1250px;
  max-height: 960px;
  overflow: hidden;

  margin: 2rem auto;
  padding: 0.75rem 2.188rem;
}

.profile-add-photo {
  position: absolute;
  right: 0;
  bottom: -0.375rem;
  font-size: 2rem;

  svg {
    font-size: 2rem;
  }
}

.profile-banner {
  width: 100%;
  object-fit: cover;
  margin-top: 9.4rem;
}

.profile-images {
  position: relative;

  .profile-picture-box {
    position: absolute;
    left: 10%;
    top: 100%;
    transform: translateY(-50%);

    width: 8.56rem;
    height: 8.56rem;
    padding: 0.875rem;

    border-radius: 50%;
    background: white;

    .profile-image-content {
      border-radius: 50%;
      cursor: pointer;
    }

    .profile-picture {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }

    .profile-picture.change {
      scale: 0.85;
    }
  }
}

.profile-picture-box {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  text-align: center;
  background: white;

  border-radius: 1.2rem;
  padding: 1rem;

  .user-photo-container {
    object-fit: cover;
  }

  .profile-button-upload {
    border-radius: 1.125rem;
    border: none;

    box-shadow: 0 0 0.625rem #4a7a63;
    font-size: 1.25rem;

    padding: 0.6rem;
    cursor: pointer;
    color: rgb(98, 98, 98);
  }
}

.profile-name {
  margin: 0;
}

.profile-user-name {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 0.75rem;
  margin-left: 20.625rem;

  .name {
    font-size: 1.625rem;
  }

  .add-button {
    display: flex;
    align-items: center;
    gap: 0.6rem;

    border: none;
    border-radius: 1.125rem;
    box-shadow: 0 0 0.625rem #4a7a63;

    font-size: 1.25rem;
    padding: 0.6rem;
    cursor: pointer;
    color: rgb(98, 98, 98);
  }
}

.profile-content {
  margin-top: 3.6rem;
  gap: 1.375rem;
  justify-content: space-between;

  .profile-information {
    margin-bottom: 1.625rem;
    padding: 0;
    height: 570px;

    flex-basis: 30%;
    border-radius: 0.625rem;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    .information-data {
      border-radius: 0.625rem;
      box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25);
      height: 240px;
    }
  }

  .profile-action {
    flex-basis: 66%;
    padding: 0;
  }
}

.album-grid {
  background: white;
  border-radius: 0.625rem;

  width: 100%;
  justify-content: space-between;

  margin: 0;
  margin-top: 1.94rem;
  padding: 1.2rem 1.75rem;

  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25);

  .album-grid-item {
    padding: 0;
  }
}

.album-grid-content {
  &:nth-child(1) {
    padding-bottom: 1.688rem;
  }

  &:last-child {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      display: block;
      background: white;

      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.6;
    }

    .photos-plus-name {
      position: absolute;
      background-color: white;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 66%;
      text-align: center;
      padding: 0.625rem 0.2rem;
      border-radius: 1.875rem;
    }
  }
}

.information-data {
  .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
    font-size: 2rem;
    color: #323232;
  }

  .MuiListItem-root.MuiListItem-gutters.MuiListItem-padding.css-1p823my-MuiListItem-root {
    gap: 0.4rem;
    color: #00000066;
  }

  .profile-edit-link {
    text-align: end;
    margin-right: 0.875rem;

    a {
      color: #323232;
      text-decoration: none;
    }
  }
}

.createPostGrid {
  margin-top: 0;
  width: 100%;
  margin-bottom: 2rem;
}

.profile-publiations {
  border-radius: 0.625rem;
  background-color: white;

  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25);
  overflow: auto;
  height: 450px;
}

// TODO: Refactor scss
@media (max-width: 854px) {
  .profile-wrapper {
    border-radius: 0;
  }

  .navigation-root-element,
  .stories-root-box {
    display: none;
  }

  .profile-wrapper {
    overflow: auto;
    max-height: unset;
    margin: 0;
    background-color: unset;
  }

  .profile-images .profile-picture-box {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .profile-user-name {
    margin-left: 0;
    margin-top: 4.4rem;
  }

  .album-grid {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 1.125rem;

    .album-grid-content {
      padding-bottom: 0;

      .user-picture-item {
        width: 6rem;
        height: 6rem;
        object-fit: cover;
        border-radius: 1.125rem;
      }
    }
  }

  .profile-information {
    margin-bottom: 1.625rem;
  }


  .profile-content .profile-information,
  .profile-content .profile-action {
    flex-basis: unset;
    max-width: unset;
    width: 100%;
  }

  .profile-publiations {
    margin-top: 3.5rem;
    background-color: unset;
    box-shadow: none;
    overflow: auto;
    height: unset;
  }

  .profile-content .profile-information .information-data {
    position: relative;
  }

  .information-data .profile-edit-link {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
  }

  .css-v6bqgn-MuiGrid-root,
  .css-1mcnwpj-MuiList-root {
    max-width: unset;
  }
}

@media (max-width: 600px) {
  .profile-wrapper {
    padding: 0.75rem 1rem;
  }

  .profile-name {
    display: flex;
  }

  .profile-span-friend,
  .album-grid-content:nth-child(1) {
    display: none;
  }
}

@media (max-width: 420px) {
  .album-grid-content:nth-child(1) {
    display: none;
  }

  .album-grid .album-grid-content .user-picture-item {
    width: 4.2rem;
    height: 4.2rem;
  }

  .information-data .profile-edit-link {
    position: unset;
    margin-left: 1.2rem;
  }
}
