.comment-functionality-main-component {
    width: 100%;
    text-align: center;

    .user-comment {
        width: 40%;
        margin-left: 1rem;
        display: flex;
    
        .user-profile-image {
            background-color: green;
            color: white;
        }
        .username-and-comment {
            margin-top: -.5rem;
        
            .username-paragraph {
                margin-left: -2rem;
                margin-top: 1rem;
            }

            .edit-text-area {
                outline: none;
                padding: .5rem;
                border: none;
                text-align: center;
                margin-left: -4rem;
            }
        }

         .comment-reactions {
             width: 130%;
             display: flex;
             justify-content: end;
         }
     }
     
     
}
